.st0{fill:#FBE3B9;} .st1{fill:#110D10;} .st2{fill:#60617F;} .st3{fill:#F06097;} .st4{fill:#B4B8CD;} .st5{fill:#FBDA8C;}
.st6{fill:#ACA9C3;} .st7{fill:#C65387;} .st8{fill:#92C4E1;} .st9{fill:#FFFFFF;} .st10{fill:#0B0E13;} .st11{fill:#090A0C;}
.st12{fill:#474B6E;} .st13{fill:#6A6F8F;} .st14{fill:#BBABAB;} .st15{fill:#313248;} .st16{fill:#090909;} .st17{fill:#C3CEE0;}
.st18{fill:#504C68;} .st19{fill:#36354B;} .st20{fill:#8F8DA0;} .st21{fill:#747077;} .st22{fill:#090B0A;}
