.portrait0{fill:none;stroke:#010101;stroke-width:1.3063;stroke-miterlimit:10;} .portrait1{fill:#FFE3BA;}
.portrait2{fill:#110D10;} .portrait3{fill:none;stroke:#FFE6BC;stroke-width:1.8316;stroke-miterlimit:10;} 
.portrait4{opacity:0.6;fill:#110D10;} .portrait5{opacity:0.6;fill:#046990;}
